name: Build & Test & Publish
on:
  push:
    tags: [ 'v*' ]
  pull_request:
    branches: [ master ]

jobs:
  build-and-test:
    name: Build & Test
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Test
        run: dotnet test -c Release --verbosity normal

  publish:
    name: Pack & Publish NuGet
    if: startsWith(github.ref, 'refs/tags/v')
    needs: build-and-test
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Pack
        run: dotnet pack -c Release src/SharpCLI/SharpCLI.csproj -o ./artifacts

      - name: NUGET Push
        working-directory: artifacts
        run: dotnet nuget push *.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate